# $Header$
#
# Read instructions in Makefile.proto how to use this.
#
# Prototype for your source directory Makefile.tino
# Not copyrighted as this is just a stub.
#
# $Log$
# Revision 1.8  2005-07-17 01:32:39  tino
# diet changes
#
# Revision 1.7  2005/05/29 14:05:18  tino
# SUBDIRS and overwrites (make variables STD_* and INSTALLPATH) implemented.
# Some cleaner (install target) rulesets and predictable counter output (#c#).
#
# Revision 1.6  2005/01/26 10:46:41  tino
# CFLAGS corrected to use -I- to keep local include path from interfering with system header <includes>.
#
# Revision 1.5  2004/10/05 02:09:07  tino
# A lot of design improvements around the make -f Makefile.tino
#
# Revision 1.4  2004/09/29 00:00:47  tino
# make install and make dist, see Changelog
#
# Revision 1.3  2004/09/04 14:25:20  tino
# typos corrected
#
# Revision 1.2  2004/09/04 14:12:15  tino
# Automated dependencies added and other make improvements.
#
# Revision 1.1  2004/08/24 23:50:11  tino
# Quickstart (.dist) files added

      PROGS=!NAME!
       OBJS=
#    SUBDIRS=diet
#         CC=diet/tinodiet.sh --tinodiet
#       LIBS=diet/libcurl.a diet/libssl.a diet/libcrypto.a diet/libz.a
# If you use -I. or -Itino, be sure to use -I-, too.
 ADD_CFLAGS=
ADD_LDFLAGS=
 ADD_LDLIBS=
      CLEAN=
  DISTCLEAN=
   TINOCOPY=
#    TINOINC=tino_common.h
#    TINOLIB=tino/lib.h
#INSTALLPATH=/usr/local
# DBG_CFLAGS=
#DBG_LDFLAGS=
# DBG_LDLIBS=-lefence
# STD_CFLAGS=-g -Wall -O3
#STD_LDFLAGS=
# STD_LDLIBS=

Makefile::
	$(MAKE) -C tino tino HERE="$(PWD)"
